
body {
	margin: 1rem;
}

footer, #content, .footer-menu {
	border-top: 1px black solid;
}

#content img {
	max-width: 100%;
	height: auto;
}

.current{
	background-color: inherit;
	color: inherit;
}

nav {
	list-style-type: none;
}
nav li { 
	display: inline-block;
}

audio {
	width: 100%;
}

.nav-header {
	font-size: 1.25rem;
}

.nav-header .current {
		background-color: black;
	color: white;

}

.sponsor-text {
	
}

