<!DOCTYPE html>

<head>
    <title>{% if page.title %}{{page.title}} · {% endif %}Non Breaking Space Show</title>
    {% seo url=false %}
    <link href="{{site.baseurl}}/non-breaking-space-show.css" rel="stylesheet" />
	<script src="{{site.baseurl}}/non-breaking-space-show.js"></script>
    {% include meta.html %}

</head>

<body>
    <header>
        <h1><a href="{{site.baseurl}}/">Non Breaking Space Show</a></h1>


{% include nav.html navclass='nav-header' %}

    </header>

<hr />

<section id="content">


    {{content}}


<h3>What's inside!</h3>

{% include podcast-total-time.html %}


{% include latest.html %}

{% include recently.html %}



<section>

{% include nav.html navclass='nav-footer' %}

<hr />

<section class="network">

{% include goodstuff.html %}

</section>

<hr />

    <footer>

    {% include footer.html %}

    </footer>

</body>
</html>
