---
layout: guest
---


<!DOCTYPE html>

<head>
    <title>{% if page.title %}{{page.title}} · {% endif %}Non Breaking Space Show</title>
    <link href="{{site.baseurl}}/non-breaking-space-show.css" rel="stylesheet" />
	<script src="{{site.baseurl}}/non-breaking-space-show.js"></script>

	{% include meta.html %}


</head>

<body>
    <header>
        <h1><a href="{{site.baseurl}}/">Non Breaking Space Show</a></h1>

{% include nav.html navclass='nav-header' %}

    </header>


<section id="content">

<h1>{{page.title}}</h1>

{{ content }}

</section>

    <footer>

{% include nav.html navclass='nav-footer' %}

{% include goodstuff.html %}

{% include host.html %}

{% include social.html %}

{% include subscribe.html %}

{% include copyright.html %}


    </footer>
</body>
</html>
